@font-face {
  font-family: 'uomouploaded_file';
  src: url('uomo-webfont.woff2') format('woff2'),
    url('uomo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 50px;
  font-family: 'uomouploaded_file', 'Roboto', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
}

a {
  color: #00B7FF;
}
